{
  "presets": [ "env", "stage-3", "react" ],
  "plugins": [ "transform-decorators-legacy", "transform-class-properties", "transform-runtime", "transform-flow-strip-types" ],
  "env": {
    "production": {
      "plugins": [ ]
    },
    "development": {
      "plugins": [ "react-hot-loader/babel" ]
    }
  }
}
