{
  "presets": ["env", "stage-3", "react"],
  "plugins": ["transform-runtime"],
  "env": {
    "production": {
      "plugins": [
        "dev-expression"
      ]
    },
    "development": {
      "plugins": [
        "transform-class-properties",
        [
          "flow-runtime",
          {
            "assert": true,
            "annotate": true
          }
        ]
      ]
    }
  }
}
